{% load custom_filters %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <style>
    .dropdown-item:hover{
      color:grey;
    }
    body{
      background-color: #f0f0f0;
    }
  </style>
  {% block style %}
  {% endblock %}
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a style="color: blueviolet; font-weight:bold; font-family:cursive;" class="navbar-brand" href="#">Mart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div style="width:1000px; height:200px;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col">
                    <div style="font-size: 17px;" class="row">
                      {% for category in categories %}
                          <div class="col-lg-2 mx-2 my-2">
                            <a class="dropdown-item" href="products/?category={{category.id}}">{{category.name}}</a>
                          </div>
                      {% endfor %}
                      {% for childcategory in childcategories %}
                          <div class="col-lg-2 mx-3 my-2">
                            <a class="dropdown-item" href="products/?childcategory={{childcategory.id}}">{{childcategory.name}}</a>
                          </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </li>
           
           
          </ul>
          <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Hello, <span style="color: cornflowerblue; text-transform:capitalize;">{{request.user.first_name}} {{request.user.last_name}}</span> <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
                  </li>
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
                  </li>
            {% elif request.session.reg %}
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="/businesslogout">Logout<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/addproduct">Add Product<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/myproducts">My Products<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/orderslist">Orders list<span class="sr-only">(current)</span></a>
                  </li>
            {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/businesslogin">Sellerlogin<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/register">Signup <span class="sr-only">(current)</span></a>
                  </li>
            {% endif %}
          </ul>
          <form method="GET" action="/search" class="form-inline my-2 my-lg-0">
            <input style="width: 400px;" required class="form-control mr-sm-2" type="search" placeholder="Search for products" name="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="row">
       
        {% block sell %}
        {% endblock %}
      </div>
      <!-- <div class="container-fluid">
        <form method="GET" action="/search" class="form-inline my-2 my-lg-0">
          <input style="width: 400px;" required class="form-control mr-sm-2" type="search" placeholder="Search for products" name="search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div> -->
      {% block content %}
      
      {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
  {% block script %}
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>

  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  {% endblock %}
  
</html>